.account-history {
  flex: 1 1 auto;
}

.account-history.loading {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-image: url('/img/loading.svg');
  animation: none;
}
