.account-history-empty {
  flex: 1 1 auto;
  background-repeat: no-repeat;
  background-position: center;
}

.account-history-empty.ready {
  background-size: 50%;
  background-image: url('/img/hand-to-left.svg');
  animation: point-to-left 3s ease-in-out infinite;
}

.account-history-empty.loading {
  background-size: 80%;
  background-image: url('/img/loading.svg');
  animation: none;
}

@keyframes point-to-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
