.error-modal .modal-content {
  background-color: #dc3545;
  color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.error-modal .modal-header {
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.error-modal .close {
  color: #fff;
  opacity: 0.8;
}

.error-modal .close:focus,
.error-modal .close:hover {
  color: #fff;
  opacity: 1;
}

.error-modal .close:focus {
  outline: none;
}
