.account-list-item:hover {
  text-decoration: none;
}

.account-list-item .list-group-item {
  padding-right: 3.25rem;
  background-size: 2rem;
  background-position: calc(100% - 0.625rem) center;
  background-repeat: no-repeat;
  background-image: url('/img/fast-forward.svg');
}

.account-list-item.active .list-group-item,
.account-list-item .list-group-item:active {
  color: #212529;
  background-color: #e9ecef;
  border-color: rgba(0, 0, 0, 0.125);
  background-image: url('/img/fast-forward-active.svg');
}

.account-list-item .list-group-item:focus {
  outline: none;
}
