.account-list {
  flex: 0 0 auto;
  min-width: 12rem;
  overflow-y: auto;
}

.account-list.loading {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-image: url('/img/loading.svg');
}
